<div class="col-sm-12">
  <table class="schdule-Calendar">
    <thead>
      <tr>
        <th colspan="3">
        <time></time>
        </th>
        <th><button id="btnPrevMonth" class="btn btn-default btn-xs"><<</button></th>
        <th><button id="btnCurrentMonth" class="btn btn-default btn-xs">今日</button></th>
        <th><button id="btnNextMonth" class="btn btn-default btn-xs">>></button></th>
        <th></th>
      </tr>
      <tr>
        <th>日</th>
        <th>月</th>
        <th>火</th>
        <th>水</th>
        <th>木</th>
        <th>金</th>
        <th>土</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <script type="text/javascript">
    jQuery(function($){
      calendarDrawing(new Date(),$(".schdule-Calendar thead time"));
      $(".schdule-Calendar button").on("click",function(event){
        var headTime = $(".schdule-Calendar thead time");
        var displayDate = new Date(headTime.attr("datetime"));
        
        switch(event.target.id){
          case 'btnCurrentMonth':
            // 当月
            displayDate = new Date();
            break;
          case 'btnPrevMonth':
            // 前月
            displayDate.setMonth(displayDate.getMonth() - 1);
            break;  
          case 'btnNextMonth':
            // 来月
            displayDate.setMonth(displayDate.getMonth() + 1);
            break;
        }
        calendarDrawing(displayDate,headTime);
      });
    });
  </script>
</div>