<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
      <%= link_to(member_image_tag(@guide.member),"#") %>
      <div class="caption">
        <h3><%= @guide.member.first_name + "  " + @guide.member.last_name%></h3>
      </div>
    </div>
  </div>
</div>
<div class="row margin-bottom-20">
  <div class="col-xs-4 col-sm-5">
    <button class="btn btn-primary">メッセージ</button>
  </div>
  <div class="col-xs-8 col-sm-7">
    <button class="btn btn-primary">予約</button>
  </div>
</div>
<div class="row margin-bottom-20">
  <%= render "calendar"%>
</div>
<div class="row">
  <div class="col-sm-12">
    プロファイル
  </div>
</div>