<%= render partial: "shared/member_box", locals: {member: @guide.member,link: false} %>
<div class="row margin-bottom-20">
  <%= render "calendar"%>
</div>
<div class="row">
  <%= render "profile"%>
</div>
