<% content_for :main_header do %>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="page-header" style="margin-top:0px;">
          <%=t('.guide_detail')%>
          <%if !current_member.present? || current_member.traveler.present?%>
            <%= render partial: "booking_button", locals: {right: true} %>
          <%end%>
        </h2>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-sm-9">
    <%= render "side_left"%>
  </div>
  <div class="col-sm-3">
    <%= render "side_right"%>
  </div>
</div>
