
<!--slider start-->
<section id="home" class="slider-banner">
		<div class="main-slider">
			<ul class="slides">
				<li>
					<img src="assets/castle-07.jpg" alt="" class="">

				</li>
				<li>
					<img src="assets/castle-01.jpg" alt="" class="">

				</li>
				<li>
					<img src="assets/castle-05.jpg" alt="" class="">

				</li>
			</ul><!--slides end-->
			 <div class="slider-overlay">
						<div class="slider-table">
							<div class="slider-vm">
							<!-- cd-intro -->
							<div class="cd-intro">
								<h1 class="cd-headline clip is-full-width">
                  <font color=#c52d2f ><%= t(".caption")%></font>
								</h1>
                <div class="search d7">
									<%= form_for(@top_search_guide, url: search_guides_path, html: { method: :get, role: 'search' }) do |f| %>
										<%= f.text_field :city, :placeholder => t('search_place'),:id => "txtNavSearchCity" %>
										<!--%= submit_tag t('search_button'),:name => "top_search",:class => "btn btn-primary"%>-->
									<button type="submit" name="nav_search">
											<i class="glyphicon glyphicon-search" aria-hidden="true"></i> <!--%= t('search_button')%-->
										</button>
									<% end %>
            		  <!--input type="text" placeholder="Search...">
            		  <button type="submit"><i class="glyphicon glyphicon-search "></i></button-->

              </div> <!-- search d7 -->
            </div></div></div>
					</div><!--slides overlay end-->
		</div><!--main slider-->

	</section>

<!-- content Section -->
<section  class="content-section">
   <div class="row no-margin">
	<div class="col-sm-3 no-padding">
	  <div class="single_process" style="background:#C41735;">
  <h4><span>01</span> Search</h4>
  <p>Input the name of city which you are going to travel.</p>
</div>
	</div>
	<div class="col-sm-3 no-padding">
	  <div class="single_process" style="background:#E41B3F;">
  <h4><span>02</span> Choose
							 </h4>
  <p>Choose the guide after you learn his/her introduction.</p>
</div>
	</div>
	<div class="col-sm-3 no-padding">
	  <div class="single_process" style="background:#E62B4C;">
  <h4><span>03</span> Book</h4>
  <p>Make the booking.</p>
</div>
	</div>
	<div class="col-sm-3 no-padding">
	  <div class="single_process" style="background:#E73C5A;">
  <h4><span>04</span> Evaluate</h4>
  <p>You should evaluate the service and ability of guide.</p>
</div>
	</div>
</div>
</section>
<!--start services-->
<section id="services" class="all-space" style="background: url(assets/dark_brick_wall.png);">

		<div class="container">
		<div class="row">
			<div class="col-lg-12 col-xs-12 scrollReveal sr-bottom sr-ease-in-out-quad sr-delay-1">
				<h1 class="section-heading" style="color:#fff">SEARCHING</h1>
				<p style="color:#fff">You can search the guide by any ways which we supported.</p>

			</div>
		</div>
		<div class="height-60"> </div>
			<div class="row">

				<div class="col-md-8 col-md-offset-2 col-xs-12 col-sm-12">
					<ul class="row list-unstyled services-list">
						<li class="col-sm-6 col-xs-12 clearfix">
							<i class="glyphicon glyphicon-comment"></i>
							<div class="content">

    						<h2>by LANGUAGE</h2>
    						<p>Use your mother language to serch directly, of course, it is work.</p>
							</div>
						</li><!--service col end with li-->
						<li class="col-sm-6 col-xs-12 clearfix">
							<i class="glyphicon glyphicon-globe"></i>
							<div class="content">

    						<h2>by CITY</h2>
    						<p>Enter city name, and we'll provide the famous places where is near by.</p>
							</div>
						</li><!--service col end with li-->
						<!--li class="col-sm-6 col-xs-12 clearfix scrollReveal sr-bottom sr-delay-2">
							<i class="ion-ios-people-outline"></i>
							<div class="content">


							</div>
						</li><!--service col end with li-->
						<!--li class="col-sm-6 col-xs-12 clearfix scrollReveal sr-bottom sr-delay-3">
							<i class="ion-iphone"></i>
							<div class="content">


							</div>
						</li><!--service col end with li-->
						<li class="col-sm-6 col-xs-12 clearfix">
							<i class="glyphicon glyphicon-heart"></i>
							<div class="content">
                <h2>by GENDER</h2>
    						<p>Set the gender of guide you want.</p>
							</div>
						</li><!--service col end with li-->
						<li class="col-sm-6 col-xs-12 clearfix ">
							<i class="glyphicon glyphicon-credit-card"></i>
							<div class="content">
                <h2>by LICENSE</h2>
    						<p>Judge the quality of the guide.</p>
							</div>
						</li><!--service col end with li-->
					</ul><!--service list end-->
				</div>
			</div><!--row end-->
			<hr>
			<div class="height-40"></div>
			<div class="text-center scrollReveal sr-bottom">
				<h1 style="color:#fff">Want to try it soon</h1>
				<a href="#" class="btn btn-dark-border btn-lg">recommend</a>
			</div>
		</div>
	</section>
<!--end services-->
