<div id="kb" class="carousel kb_elastic animate_text kb_wrapper" data-ride="carousel" data-interval="6000" data-pause="hover">
          <!-- Wrapper for Slides -->
          <div class="carousel-inner" role="listbox">
              <!-- First Slide -->
              <div class="item active">
        <div class="slider">
          <div class="carousel-caption kb_caption slider-grid">
            <h3>Himeji</h3>
            <p>Japanese Histroy.</p>
          </div>
        </div>
              </div>

              <!-- Second Slide -->
              <div class="item">
        <div class="slider slider1">
          <div class="carousel-caption kb_caption kb_caption_right slider-grid">
            <h3>Tokyo</h3>
            <p>Famouse City.</p>
          </div>
        </div>
              </div>

              <!-- Third Slide -->
              <div class="item">
        <div class="slider slider2">
          <div class="carousel-caption kb_caption kb_caption_center slider-grid">
             <h3>Furano</h3>
            <p>Natrual</p>
          </div>
        </div>
              </div>

          </div>
