<div class="panel panel-primary">
  <div class="panel-heading"><%= "受信：" + msg.title%></div>
  <div class="panel-body">
    <%= msg.content%>
  </div>
  <div class="panel-footer text-right"><%= msg.updated_at.strftime("%Y/%m/%d %H:%M:%S")%></div>
</div>