<div class="panel panel-info">
  <div class="panel-heading"><%= "受信：" + msg.title%></div>
  <div class="panel-body">
    <%= msg.content%>
  </div>
  <div class="panel-footer text-right"><%= msg.updated_at%></div>
</div>