<!-- message index-->
<% content_for :main_header do %>
<% end %>

<div class="row">
  <div class="col-xs-12 col-sm-9">
        <table class="table table-striped table-bordered">
          <% if @message.present? %>
                <% @message.each do |message| %>
                  <% if message.sender_id.to_s == current_member.id.to_s %>
                     <h2><%= message.title %></h2>
                     <p><%= truncate(message.content, length: 80) %>
                     <%= link_to "もっと読む", message, class: "btn btn-primary pull-right" %></p>
                  <% end %>
                <% end %>
          <% else %>
            <p>messageがありません。</p>
          <% end %>
        </table>
   </div>
</div>

<%= debug(params) if Rails.env.development? %>
