<div class="thumbnail"> <!-- thumbnail -->
  <%= member_image_tag(booking.traveler.member) %>
  <div class="caption">
    <div class="text-primary">
      <h3>
        <%= booking.traveler.member.first_name + " " + booking.traveler.member.last_name %>
      </h3>
    </div>
  </div>
</div> <!-- thumbnail -->
