<% if obj && obj.errors.present?%>
  <div id="div-error-message" class="panel panel-danger hidden-div">
    <div class="panel-heading">
      <img style="max-height:18px;" src="/assets/error-icon.png">
      <button type="button" class="close"><span>&times;</span></button>
      </div>
    <div class="panel-body">
      <ul>
        <% obj.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <script type="text/javascript">
    jQuery(document).ready(function($){
      $('#div-error-message').slideDown('slow')  //エラーメッセージエリアを表示する
                              .find('button.close').on('click',function(){
                                  //×ボタンがクリックされたとき、エラーメッセージを非表示
                                  $('#div-error-message').slideUp('slow');
                                });
    });
  </script>
<%elsif session[:errors].present?%>
  <div id="div-error-message" class="panel panel-danger hidden-div">
    <div class="panel-heading">
      <img style="max-height:18px;" src="/assets/error-icon.png">
      <button type="button" class="close"><span>&times;</span></button>
    </div>
    <div class="panel-body">
      <ul>
        <% session[:errors].each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <%session[:errors] = nil%>
  <script type="text/javascript">
    jQuery(document).ready(function($){
      $('#div-error-message').slideDown('slow')  //エラーメッセージエリアを表示する
                              .find('button.close').on('click',function(){
                                  //×ボタンがクリックされたとき、エラーメッセージを非表示
                                  $('#div-error-message').slideUp('slow');
                                });
    });
  </script>
<% end %>