<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
      <%= link_to(member_image_tag(member),"#") %>
      <div class="caption">
        <h3><%= member.first_name + "  " + member.last_name%></h3>
      </div>
    </div>
  </div>
</div>