<div class="container margin-bottom-20">
  <div class="row">
    <div class="col-sm-12">
      <!-- Nav tabs -->
      <ul id="header_tabs" class="nav nav-tabs">
        <%= render "shared/tab_link"%>
        <script type="text/javascript">
          jQuery(function($){
            // タブの選択状態を解除
            // 指定したタブを選択状態にする
            $('#header_tabs li').removeClass("active")
                                .filter('[role="<%= tab_id %>"]').addClass("active");
          });
        </script>
      </ul>
    </div>
  </div>
</div>