<div class="thumbnail"> <!-- thumbnail -->
  <%= member_image_tag(@UserReview.booking.guide.member) %>
  <div class="caption"> <!-- caption -->
    <%= render "booking_schedule" %>
  </div>  <!-- caption -->
</div> <!-- thumbnail -->
