<div class="thumbnail"> <!-- thumbnail -->
  <%= member_image_tag(@Booking.guide.member) %>
  <div class="caption">
    <div class="text-primary">
      <h3>
        <%= @Booking.guide.member.last_name + " " + @Booking.guide.member.first_name %>
      </h3>
    </div>
  </div>
</div> <!-- thumbnail -->
