<div class="thumbnail">
  <%= member_image_tag(booking.guide.member) %>
  <div class="caption">
    <div class="text-primary">
      <h3>
        <%= booking.guide.member.first_name + " " + booking.guide.member.last_name %>
      </h3>
      <% if booking.user_review.present? %>
        <%= link_to star_image_tag(booking.user_review.star_master),  edit_user_review_path(booking.user_review) %>
        <%#= link_to "更新", edit_user_review_path(booking.user_review),
        class: "btn btn-primary"  %>
      <% else %>
        <!-- パラメーター：booking_id で次の画面に渡す-->
        <%= link_to image_tag("/assets/ico_grade6_0.gif"), new_user_review_path(booking_id:   booking.id) %>
      <% end %>
    </div>
  </div>
</div>
