<div class="thumbnail"> <!-- thumbnail -->
  <%= link_to member_image_tag(@booking.guide.member), guide_detail_path(@booking.guide) %>
  <div class="caption">
    <div class="text-primary">
      <h3>
        <%= @booking.guide.member.first_name + " " + @booking.guide.member.last_name %>
      </h3>
    </div>
  </div>
</div> <!-- thumbnail -->
