<h2>予約登録通知1</h2>

<p>
  <%#= link_to "予約確認" , guide_bookings_url %>
  <%#= link_to "予約確認" , guide_booking_path(id: @booking) %>
  <%= link_to "予約確認URL" , guide_booking_url(id: @booking) %>
  <%= link_to "予約確認PATH" , guide_booking_path(id: @booking) %>

</p>
