<h2>予約登録通知</h2>

<p>こんにちは <%= @booking.guide.member.first_name + " " + @booking.guide.member.last_name %>
  さん</p>

<P>
予約が新規に追加されました。下記のリンクから確認してください。
</p>
<p>
  <%= link_to "予約確認" , edit_guide_booking_url(id: @booking) %>
</p>
