/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/datepicker
 *= require animate
 */


/* -----slider------
 .slide-image{
   width:100% !important;
   height: 365px !important;
 }

 .city-img-postion{
   position: relative;
 }

.city-img-postion > div:first-of-type{
  position: absolute;
  top:30%;
  left: 35%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 1);
  font-style: italic;
}
.margin-bottom-10{
  margin-bottom:10px;
}
.margin-bottom-20{
  margin-bottom:20px;
}
.page-footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
.span-height{
  display: inline-block;
  height: 18px;
  vertical-align: middle;
}
.header-pointer{
  cursor: pointer;
}

.float-right{
  float:right;
}
.padding-left-0{
  padding-left: 0px;
}

.hidden-div{
  display: none;
}

.table-header-align{
  vertical-align: middle !important;
}

.carousel-caption {
  bottom: 35%;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 1);
  font-style: italic;
}

.pre-style {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #fff;
  border: 0px solid #ccc;
  border-radius: 4px;
}

/*カレンダー用css*/
.input-width-100{
  width: 100px;
}
.schdule-Calendar{
  width: 100%;
  border:#3f51b5 1px solid;
}
.schdule-Calendar th{
  width: 14.28%;
  text-align: center;
  font-size: 1.1em;
}
.schdule-Calendar td,
.schdule-Calendar th{
  width: 14.28%;
  text-align: center;
}
.schdule-Calendar thead tr:nth-child(2){
  background-color:#add8e6;
}
.schdule-Calendar tr{
  height: 30px;
}
.schdule-Calendar thead tr:nth-child(2) th:nth-child(1),
.schdule-Calendar tbody td:nth-of-type(1){
  color: #e91e63;
}
.schdule-Calendar thead tr:nth-child(2) th:nth-child(7),
.schdule-Calendar tbody td:nth-of-type(7){
  color: blue;
}
/*過去の日付*/
.schdule-Calendar tbody td:not([data-booking]):not([data-ngdate]){
  background-color: rgba(96, 125, 139, 0.26);
  cursor: default;
}
.schdule-Calendar td[data-outside="1"][data-booking="1"]{
  /*background-color: #f5f5f5;*/
  background-color: hsla(187, 100%, 42%, 0.14);
  cursor: default;
}
.schdule-Calendar tbody td[data-booking="1"]:hover{
  background-color: hsla(88, 50%, 53%, 0.53);
  cursor: pointer;
}
.schdule-Calendar td[data-current="1"]{
  background-color: #ffdab9;
}
.schdule-Calendar td[data-ngdate="1"]{
  background-color: rgba(0, 0, 0, 0.46);
}


/*profile css*/
.dl-horizon dt{
  float: left;
  padding-right: 5px;
}
.dl-horizon{
  margin-bottom: 5px;
}
.dl-vertical dd{
  padding-left: 50px;
}

.image-upload{
  color: white;
  background-color: red;
  padding: 6px;
  border-radius: 12px;
}

/*form controlを左寄せ*/
/*例として残しておくが、いまのところ使わない*/
/*使い方　class="control-label text-left"*/
/*.form-horizontal .control-label.text-left{
  text-align:left;
}*/

/*form controlにtest-leftを追加しても、form controlないの
text-rightが勝つので、importantで強くする*/
/*使い方　class="control-label text-left-custom"*/
.text-left-custom{
 text-align:left !important;
}
.text-center-custom{
  text-align:center;
}

/*予約日程の日づ受選択ボックスの背景色とカーソル設定*/
#detail-association-insertion-point input[type=text][readonly]{
  background-color: #fff;
  cursor: pointer;
}


/*メッセージポップアップ系*/
.msg-popup-content{
  position: absolute;
  width: 50em;
  left:100px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}


/*status stamp*/
div.stamp{
      -moz-transform: rotate(-20deg);
      -webkit-transform: rotate(-20deg);
      -o-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
      transform: rotate(-20deg);
      color: red;
      font-weight:bold;
      font-size: 1.5em;
      border-style:solid;
      border-width:medium;
      border-color:rgba(255,0,0,0.75);
      padding: 0em 0.5em 0em 0.5em;
      position: absolute;
      top: 1.5em;
      left: 10em;
}
