/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */
 
 .slide-image{
   width:100% !important;
   height: 300px !important;
 }
 
 .city-img-postion{
   position: relative;
 }
 
.city-img-postion > div:first-of-type{
  position: absolute;
  top:30%;
  left: 35%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.margin-bottom-20{
  margin-bottom:20px;
}
.page-footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
.span-height{
  display: inline-block;
  height: 18px;
  vertical-align: middle;
}
.header-pointer{
  cursor: pointer;
}

.float-right{
  float:right;
}
.padding-left-0{
  padding-left: 0px;
}



/*カレンダー用css*/
.input-width-100{
  width: 100px;
}
.schdule-Calendar{
  width: 100%;
  border:#3f51b5 1px solid;
}
.schdule-Calendar th{
  width: 14.28%;
  text-align: center;
  font-size: 1.1em;
}
.schdule-Calendar td,
.schdule-Calendar th{
  width: 14.28%;
  text-align: center;
}
.schdule-Calendar thead tr:nth-child(2){
  background-color:#add8e6;
}
.schdule-Calendar tr{
  height: 30px;
}
.schdule-Calendar thead tr:nth-child(2) th:nth-child(1),
.schdule-Calendar tbody td:nth-of-type(1){
  color: #e91e63;
}
.schdule-Calendar thead tr:nth-child(2) th:nth-child(7),
.schdule-Calendar tbody td:nth-of-type(7){
  color: blue;
}
.schdule-Calendar td[data-outside="1"]{
  background-color: #f5f5f5;
}
.schdule-Calendar tbody td:not([data-outside="1"]):hover{
  background-color:#dff0d8;
}
.schdule-Calendar td[data-current="1"]{
  background-color: #ffdab9;
}
.schdule-Calendar td[data-ngdate="1"]{
  background-color: #ccc;
}


/*profile css*/
.dl-horizon dt{
  float: left;
  padding-right: 5px;
}
.dl-horizon{
  margin-bottom: 5px;
}
.dl-vertical dd{
  padding-left: 50px;
}
