/* indexpage */
.banner{
    background: no-repeat 0 0;
    background-size: cover;
    padding: 0;
    position: absolute;
    top: 0;
    min-height:750px;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
    z-index: 99;
/*    left: 13%;
*/
}
.banner-1{
    background: no-repeat 0 0;
    background-size: cover;
    padding: 0;
    position: absolute;
    top: 0;
    min-height:300px;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
    z-index: 99;
/*    left: 13%;
*/
}
.banner_top {
    margin: 2em 0 3em;
}
.banner_top_left{
	float:left;
}
.banner_top_right {
    float: right;
    margin-top: 6px;
}
.logo{
    float: left;
    margin: 1em 0 0 0;
}
.logo h1 a{
	color:#fff;
	font-size:1em;
	text-decoration:none;
	font-family: 'Pacifico', cursive;
}

/*-- top-nav --*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
    padding: 0;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color:#f98900 !important;
}
.navbar {
    margin-bottom: 0;
}
.navbar-default {
    background: none;
    border: none;
}
@media (min-width: 768px){
	.navbar-header {
		float: none;
	}
	.navbar-nav {
		float: none;
	}
}

.navbar-default .navbar-nav > li > a {
    font-size: 1.3em;
    color: #fff !important;
    letter-spacing: 2px;
    padding: 20px 25px 0;
}
.navbar-default .navbar-nav > li > a.active {
	color:#f98900 !important;
}
/* Effect 11: text fill based on Lea Verou's animation http://dabblet.com/gist/6046779 */
.banner_top ul li a {
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.3em;
	  color:#fff;
	  font-family: 'Aladin', cursive;
	  position:relative;
	  padding:0;
}
/*-- //nav --*/
/*-- Effect 14 --*/
.cl-effect-14 a {

	padding: 0 20px;
	height: 65px;
	line-height: 45px;
}

.cl-effect-14 a::before,
.cl-effect-14 a::after {
	position: absolute;
	width: 45px;
	height: 2px;
	background: #fff;
	content: '';
	opacity: 0.2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	pointer-events: none;
}

.cl-effect-14 a::before{
	top: 0 !important;
}
.cl-effect-14 li:nth-child(8) a::after{
	display:none;
}
.cl-effect-14 a::before {
	  top: 10px;
    left: 0;
    -webkit-transform: rotate(98deg);
    -moz-transform: rotate(98deg);
    transform: rotate(98deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
}
.cl-effect-14 a::after {
	right: 0;
	bottom: 0;
	-webkit-transform: rotate(98deg);
	-moz-transform: rotate(98deg);
	transform: rotate(98deg);
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	transform-origin: 100% 0;
}
.cl-effect-14 a:hover::before,
.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::before,
.cl-effect-14 a:focus::after,
.cl-effect-14 a.active::before,
.cl-effect-14 a.active::after {
	opacity: 1;
}
.cl-effect-14 a:hover::before,
.cl-effect-14 a:focus::before,.cl-effect-14 a.active::before {
	left: 50%;
	-webkit-transform: rotate(0deg) translateX(-50%);
	-moz-transform: rotate(0deg) translateX(-50%);
	transform: rotate(0deg) translateX(-50%);
}
.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::after,.cl-effect-14 a.active::after{
	right: 50%;
	-webkit-transform: rotate(0deg) translateX(50%);
	-moz-transform: rotate(0deg) translateX(50%);
	transform: rotate(0deg) translateX(50%);
}
/*-- //Effect 14 --*/

/* search bar*/

.search_box {
	background: #FFF;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	padding: 10px 10px;
	position: relative;
	cursor: pointer;
	width:60%;
}
.search_box form input[type="text"] {
	border: none;
	outline: none;
	background: none;
	font-size:1.3em;
	color:#BEBEBE;
	width:95%;
	font-family: 'Raleway', sans-serif;
	-webkit-apperance: none;
}
.search_box form button[type="submit"] {
	border: none;
	cursor: pointer;
	background: url(/assets/search.png) no-repeat -3px -1px;
	position: absolute;
	right: 0;
	width: 40px;
	height: 33px;
	outline: none;
}

/* search bar*/
