<!--更新失敗の際、urlがshowに変わるから、showがない時f5がエラーになるので、その場合にurl修正-->
<%= render "shared/redirect"%>
<!-- スライドをレイアウトの[main_header]に入れる部-->

<% content_for :main_header do %>
    <%= render partial: "shared/tab_header", locals: {tab_id: 'profile'} %>
<% end %>

<% content_for :error_messages do %>
  <%= render partial: "shared/error", locals: {obj: @guide} %>
<% end %>


<!-- 全体を囲むコンテナ -->

    <div class="col-xs-12 col-sm-12">
      <%= render 'form' %>
    </div>

<!-- 全体を囲むコンテナ -->
<script type="text/javascript">
  jQuery(document).ready(function($){
  $('form input[type=file]:hidden').on('change',function(){
    // プロファイルページで写真アップロード機能に写真を選択した時、選択された写真の名前を表示する
    $(this).parent().next('label:visible').text(this.value.substring(this.value.lastIndexOf('\\')+1));
  });
  //初期化
  initGuideLicense();
  // ライセンス有り無し変更時の動き設定
  $('#guide_license select').on('change',initGuideLicense);
});
</script>