
<!-- 全体を囲むコンテナ -->

    <div class="tab-pane" id="profile">
      <!--form role="form"-->
      <!--%= form_for :guide, url:guide_path(@guide), method: :patch do |f| %-->
      <%= render 'form' %>

</div>
<!-- 全体を囲むコンテナ -->
<br>
<br>
